.search-input {
    width: 40%;
    height: 30px;
    border: none;
    border-radius: 15px;
    padding: 0 14px;
}

input:focus{
    outline: none;
}

.loading {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-image: url("../img/loader.gif");
    background-size: 100%;
}

.navbar-toggler {
    background-color: #fff;
}

.navbar-brand {
    padding: 15px;
}

//@media only screen and (max-width: 480px) {
//    .navbar-brand {
//        margin-right: 100%;
//    }
//}

@media only screen and (max-width: 575px) {
    .search-input {
        margin-top: 14px;
        width: 100%;
    }
}