@import "~bootstrap/dist/css/bootstrap-grid";
@import "variables";

.movies {
    //@include container();

    &__block {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

.movie-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    max-height: 412px;
    min-height: 200px;
    border: 2px solid black;
    margin: 20px;

    img {
        width: auto;
        height: 294px;
    }
}

.genres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    div {
        margin-right: 10px;
    }
}